<app-navigation></app-navigation>
<section class="flex flex-col justify-center items-center">
  <div class="container flex flex-col items-center justify-center">
    <h1 class="text-6xl text-center mb-5">Renan Steiger</h1>
    <p class="tag text-center mb-3">
      <span>Estudante de Engenharia de Software</span>
      <span>Desenvolvedor Full-Stack</span>
    </p>
    <div class="flex gap-4 mt-8 ">
      <a href="https://www.linkedin.com/in/renansteiger/" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/icons/linkedin.png" alt="linkedin">
      </a>
      <a href="https://github.com/steiger30" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/icons/github.png" alt="Github">
      </a>
      <a href="mailto:renansteiger@live.com" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/img/icons/email.png" alt="Email">
      </a>
    </div>
  </div>
</section>
<section class="flex flex-col  items-center">
  <h1 class="text-3xl mb-5">Sobre</h1>
  <p class="text-center w-3/5 mt-5 mb-4">
    Sou especializado em criar soluções abrangentes e inovadoras, com habilidades em
    desenvolvimento front-end e back-end. Atualmente, estou cursando Engenharia de Software na
    Universidade Tecnológica Federal do Paraná, Cornélio Procópio. Busco constantemente novos desafios e oportunidades
    de aprendizado, sendo pró-ativo e mantendo-me atualizado sobre as últimas tendências e tecnologias da minha área.
    Para expandir meus conhecimentos, participo regularmente de
    conferências, eventos e grupos de discussão. Meu objetivo é continuar a crescer e aprimorar minhas habilidades para
    ser um
    desenvolvedor ainda mais eficiente e capaz.
  </p>
  <div class="mt-8 flex flex-row items-center justify-center gap-4">
    <div class="flex flex-col items-center ">
      <h1 class="text-2xl tracking-widest">02+</h1>
      <p>Anos de experiência</p>
    </div>
    <div class="flex flex-col items-center ">
      <h1 class="text-2xl tracking-widest">10+</h1>

      <p>Projetos
        completos</p>
    </div>
    <div class="flex flex-col items-center ">
      <h1 class="text-2xl tracking-widest">02</h1>
      <p>Empresas trabalhadas</p>
    </div>
  </div>
</section>
<section class="flex flex-col items-center">
  <h1 class="text-3xl tracking-wider mb-5">Habilidades</h1>
  <p class="text-center w-3/5 mt-5 mb-4">Tenho paixão por criar projetos do zero e realizar manutenções. Desfruto da
    jornada de transformar conceitos em
    realidade, garantindo que cada linha de código reflita a visão e o propósito do projeto. Busco constantemente
    aprimorar minhas habilidades e aplicar as melhores práticas para fornecer soluções sólidas e confiáveis para os
    desafios do back-end e front-end.</p>
  <div class="flex flex-wrap  justify-center skills mt-9">
    <div>
      <h2>Front-end</h2>
      <ul>
        <li>Angular</li>
        <li>Redux</li>
        <li>Reactjs</li>
        <li>Material Angular</li>
        <li>Styled Components</li>
        <li>Tailwind CSS</li>
        <li>Boostrap</li>
        <li>CSS</li>
        <li>Sass</li>
        <li>HTML</li>
      </ul>
    </div>
    <div>
      <h2>Back-end</h2>
      <ul>
        <li>Node.js</li>
        <li>Socket.IO</li>
        <li>Express</li>
        <li>NestJS</li>
        <li>Prisma</li>
        <li>Sequelize</li>
        <li>JWT</li>
        <li>PostgreSQL</li>
        <li>Firebase</li>
        <li>APIs REST</li>
      </ul>
    </div>
    <div>
      <h2>Linguagens</h2>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>C#</li>
        <li>Java</li>
      </ul>
    </div>
    <div>
      <h2>Outras Habilidades</h2>
      <ul>
        <li>Jest</li>
        <li>Docker</li>
        <li>Programação Orientada à Objetos</li>
      </ul>
    </div>
  </div>
</section>

<section class="flex flex-col items-center">
  <h1 class="text-3xl tracking-wider mb-9 ">Projetos</h1>

  <div class="flex flex-wrap justify-center gap-6  mt-9 ">
    <app-projects *ngFor="let project of projects " [project]="project" />
  </div>
</section>
<section class="flex flex-col items-center">
  <h1 class="text-3xl mb-5">Contato</h1>
  <p class="text-center w-3/5 mt-5 mb-4">Preencha o formulário abaixo para esclarermos suas dúvidas.</p>
  <div class=" container sm flex flex-wrap justify-center gap-6  mt-9 ">

    <form [formGroup]="form" class="w-full" action="" (submit)="enviarEmail()" ngNativeValidate>

      <div class="flex gap-5 flex-col">
        <div>
          <label>Nome *</label>
          <input name="from_name" type="text" formControlName="from_name" minlength="5" autocomplete="off"
            required>
        </div>
        <div>
          <label>Email *</label>
          <input name="email" type="email" formControlName="email" autocomplete="off" minlength="5" required>
        </div>
        <div>
          <label>Assunto *</label>
          <input name="subject" type="text" formControlName="subject" autocomplete="off" minlength="5" required>
        </div>
        <div>
          <label>Sua Mensagem *</label>
          <textarea class="mt-3" name="message" type="text" formControlName="message" minlength="10" required></textarea>
        </div>
      </div>
      <button class="btn mt-6" type="submit">Enviar</button>
    </form>
  </div>
</section>

<app-footer></app-footer>
